.homepage-landing .hero {
    background: url(../img/landing-hero.jpg) no-repeat center;
    color: #fff;
    height: 100%;
    padding: 61px 0;
}

.homepage-landing h1 {
    font-size: 60px;
    font-weight: 300;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, .5);
    text-align: center;
}

.homepage-landing .hero form {
    background: rgba(123, 116, 153, .5);
    border-radius: 8px;
    padding: 40px;
}

.homepage-landing .hero form .btn {
    width: 100%;
    font-size: 18px;
    border-radius: 0;
    padding: 20px;
}

.homepage-landing .faq-question {
    margin: 0 0 60px;
}

.homepage-landing .faq-question h3 {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    margin: 0 0 20px;
}

.homepage-images {
    width: 558px;
    height: 376px;
    margin: 0 auto;
    position: relative;
}

.homepage-images img {
    position: absolute;
    left: 0;
    top: 0;
}

.homepage-landing .section-title, 
.homepage-landing .section-subtitle {
    text-align: center;
}