.wide {
    width: 100%;
}

.container-no-pad {
    padding-left: 0;
    padding-right: 0;
}

.container-no-margin {
    margin: 0;
}

.container-no-pad .row {
    margin-left: 0;
    margin-right: 0;
}

.container-no-pad .col-lg-1, .container-no-pad .col-lg-10, .container-no-pad .col-lg-11, .container-no-pad .col-lg-12, .container-no-pad .col-lg-2, .container-no-pad .col-lg-3, .container-no-pad .col-lg-4, .container-no-pad .col-lg-5, .container-no-pad .col-lg-6, .container-no-pad .col-lg-7, .container-no-pad .col-lg-8, .container-no-pad .col-lg-9, .container-no-pad .col-md-1, .container-no-pad .col-md-10, .container-no-pad .col-md-11, .container-no-pad .col-md-12, .container-no-pad .col-md-2, .container-no-pad .col-md-3, .container-no-pad .col-md-4, .container-no-pad .col-md-5, .container-no-pad .col-md-6, .container-no-pad .col-md-7, .container-no-pad .col-md-8, .container-no-pad .col-md-9, .container-no-pad .col-sm-1, .container-no-pad .col-sm-10, .container-no-pad .col-sm-11, .container-no-pad .col-sm-12, .container-no-pad .col-sm-2, .container-no-pad .col-sm-3, .container-no-pad .col-sm-4, .container-no-pad .col-sm-5, .container-no-pad .col-sm-6, .container-no-pad .col-sm-7, .container-no-pad .col-sm-8, .container-no-pad .col-sm-9, .container-no-pad .col-xs-1, .container-no-pad .col-xs-10, .container-no-pad .col-xs-11, .container-no-pad .col-xs-12, .container-no-pad .col-xs-2, .container-no-pad .col-xs-3, .container-no-pad .col-xs-4, .container-no-pad .col-xs-5, .container-no-pad .col-xs-6, .container-no-pad .col-xs-7, .container-no-pad .col-xs-8, .container-no-pad .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
}

.row-content {
    padding: 40px 60px;
}

.center {
    text-align: center;
}

.row-img {
    width: 100%;
}